<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0,  user-scalable=0">
    <meta name="description" content="">
    <title>Hotel Stars</title>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="images/favicon/site.webmanifest">
    <link rel="mask-icon" href="images/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <!-- fonts -->
    <link type="text/css" rel="stylesheet" href="//fast.fonts.net/cssapi/7eebccdb-95d3-4972-b4c2-bb0f2a5ed6df.css"/>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!-- Style sheets -->
    <link rel="stylesheet" href="//unpkg.com/element-ui@2.7.2/lib/theme-chalk/index.css">
    
    <link rel="stylesheet" href="css/style.css">
   

</head>

<body>
    <!--Start: Browser update alert -->
    <!--[if lt IE 10]>
           <div class="browser-update">
           <div class="update-info-wrap">
           <img src="./images/logo.svg" alt="">
           <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
           </div>
            </div>
    <![endif]-->
    <!-- End: Browser update alert -->
    <main class="main-wrapper">
        <!-- Header:start -->
        <header class="main-header">
            <div class="container">
           <a href="#" class="logo">
               <img src="images/logo.png" alt="">
           </a>
           <div class="hamburger">
                <div class="hamburger--line"></div>
              </div>
           <div class="nav-right">
               <nav id="navigation">
                   <ul>
                       <li class="active"><a href="#">HOME</a></li>
                       <li><a href="#">SEARCH HOTELS</a></li>
                       <li><a href="#">BEHIND THE STARS</a></li>
                       <li><a href="#">HORESTA WARRANTY</a></li>
                       <li><a href="#">CONTACT</a></li>
                       <li><a href="#"><span class="active">EN</span> | <span>DK</span></a></li>
                   </ul>
               </nav>
           </div>
        </div>
        </header>
        <!-- Header:end -->