<!-- Banner:start -->
<div class="banner">
    <div class="banner-item parallax-window" data-parallax="scroll"
        data-image-src="images/banner.png">
        <!-- <div class="banner-item "  style="background:url('images/banner.png') no-repeat"> -->
        <!-- <img src="images/banner.png" class="full-height" alt=""> -->
        <div class="container banner_cnt has-form">
            <div class="banner_text " data-aos="fade-right">
                <h1>Discover star rated hotels in Denmark</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt</p>
            </div>
            <!-- partial:../components/_form.html -->
            <!-- partial -->

        </div>

    </div>
</div>
<!-- Banner-ends -->