<!-- banner section -->
<div class="banner">
    <!-- <div class="banner-item less_cnt" style="background:url('images/behind-the-stars.png')  no-repeat"> -->
        <div class="banner-item parallax-window" data-parallax="scroll"
        data-image-src="images/behind-the-stars.png">
        <div class="container banner_cnt">
            <div class="banner_text banner-left"  data-aos="fade-right">
                <h1>Discover star rated hotels in Denmark</h1>
            </div>
        </div>
    </div>
</div>
<!-- banner section ends-->