<!-- Banner:starts -->
<div class="banner">
    <!-- <div class="banner-item banner--short" style="background:url('images/banner.png') no-repeat"> -->
        <div class="banner-item parallax-window" data-parallax="scroll"
        data-image-src="images/banner.png">
        <!-- <img src="images/banner.png" class="full-height" alt=""> -->
        <div class="container banner_cnt">
            <div class="banner_text" data-aos="fade-right">
                <h1>Discover star rated hotels in Denmark</h1>
            </div>
            <!-- partial:../components/_form.html -->
            <!-- partial -->
        </div>
    </div>
</div>
<!-- Banner:ends -->