<!-- masonry:starts -->
<div class="grid" id="grid">
    <div class="grid-item">
       <div class="img-wpr">
          <img src="images/hotel1.png" alt="">
          <span class="icon-copyrright">
               <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
               <img src="images/copyright.png" alt="">
       </span>
       </div>
       <div class="img-description">
            <h3>Hotel Skibssmedien Skagen</h3>
            <div class="ratings-wrapper">
               <ul class="ratings">
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star "></li>
                  <li class="star"></li>

               </ul>
               <h5>garni</h5>
            </div>
            
            <ul class="content_list">
               <li><a href="#"><img src="images/horesta-garanti.png" alt="">HORESTA Warranty</a></li>
               <li><a href="#"><img src="images/green-key.png" alt="">Green Key</a></li>
               <li><a href="#"><img src="images/banquet.png" alt="">Banquet Conference</a><ul class="ratings">
                 <li class="star star--yellow"></li>
                 <li class="star star--yellow"></li>
                 <li class="star star--yellow"></li>
                 <li class="star star--yellow"></li>
                 <li class="star "></li>

             </ul></li>
            </ul>
         </div>
    </div>
    <div class="grid-item ">
       <div class="img-wpr">
          <img src="images/hotel2.png" alt="">
          <span class="icon-copyrright">
               <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
               <img src="images/copyright.png" alt="">
          </span>
          
       </div>
       <div class="img-description">
            <h3>Hotel Skibssmedien Skagen</h3>
            <div class="ratings-wrapper">
               <ul class="ratings">
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star "></li>
                  <li class="star"></li>

               </ul>
               <h5>garni</h5>
            </div>
            
            <ul class="content_list">
               <li><a href="#"><img src="images/horesta-garanti.png" alt="">HORESTA Warranty</a></li>
               
            </ul>
         </div>
    </div>

    <div class="grid-item ">
       <div class="img-wpr">
          <img src="images/hotel3.png" alt="">
          <span class="icon-copyrright">
               <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
               <img src="images/copyright.png" alt="">
          </span>
          
       </div>
       <div class="img-description">
            <h3>Hotel Skibssmedien Skagen</h3>
            <div class="ratings-wrapper">
               <ul class="ratings">
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star "></li>
                  <li class="star"></li>

               </ul>
               <h5>garni</h5>
            </div>
            
            <ul class="content_list">
               <li><a href="#"><img src="images/horesta-garanti.png" alt="">HORESTA Warranty</a></li>
               <li><a href="#"><img src="images/green-key.png" alt="">Green Key</a></li>
              
            </ul>
         </div>
    </div>
    <div class="grid-item ">
       <div class="img-wpr">
          <img src="images/hotel3.png" alt="">
          <span class="icon-copyrright">
               <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
               <img src="images/copyright.png" alt="">
          </span>
       </div>
       <div class="img-description">
            <h3>Hotel Skibssmedien Skagen</h3>
            <div class="ratings-wrapper">
               <ul class="ratings">
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star "></li>
                  <li class="star"></li>

               </ul>
               <h5>garni</h5>
            </div>
            
            <ul class="content_list">
               <li><a href="#"><img src="images/horesta-garanti.png" alt="">HORESTA Warranty</a></li>
               <li><a href="#"><img src="images/green-key.png" alt="">Green Key</a></li>
              
            </ul>
         </div>
    </div>
    <div class="grid-item ">
       <div class="img-wpr">
          <img src="images/hotel1.png" alt="">
          <span class="icon-copyrright">
               <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
               <img src="images/copyright.png" alt="">
          </span>
          
       </div>
       <div class="img-description">
            <h3>Hotel Skibssmedien Skagen</h3>
            <div class="ratings-wrapper">
               <ul class="ratings">
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star "></li>
                  <li class="star"></li>

               </ul>
               <h5>garni</h5>
            </div>
            
            <ul class="content_list">
               <li><a href="#"><img src="images/horesta-garanti.png" alt="">HORESTA Warranty</a></li>
               <li><a href="#"><img src="images/green-key.png" alt="">Green Key</a></li>
               <li><a href="#"><img src="images/banquet.png" alt="">Banquet Conference</a></li>
            </ul>
         </div>
    </div>
    <div class="grid-item">
      <div class="img-wpr">
         <img src="images/hotel2.png" alt="">
         <span class="icon-copyrright">
               <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
               <img src="images/copyright.png" alt="">
          </span>
         
      </div>
      <div class="img-description">
            <h3>Hotel Skibssmedien Skagen</h3>
            <div class="ratings-wrapper">
               <ul class="ratings">
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star star--yellow"></li>
                  <li class="star "></li>
                  <li class="star"></li>

               </ul>
               <h5>garni</h5>
            </div>
            
            <ul class="content_list">
               <li><a href="#"><img src="images/horesta-garanti.png" alt="">HORESTA Warranty</a></li>
             
            </ul>
         </div>
   </div>
    
 </div>
 <!-- masonry:ends -->