<!-- pagination:starts -->
<div class="pagination">
    <a href="#" class="page">first</a>
    <a href="#" class="page prev"><img src="images/prev.png" alt="previous"></a>
    <a href="#" class="page">10</a>
    <a href="#" class="page active">11</a>
    <span class="page active">...</span>
    <a href="#" class="page active">25</a>
    <a href="#" class="page active">26</a>
    <a href="#" class="page next"><img src="images/next.png" alt="previous"></a>
    <a href="#" class="page last">last</a>
</div>
<!-- pagination:ends -->