<!-- partial:partials/common/_header.html -->
<!-- partial -->

<!-- partial:partials/components/_behind-the-star-block.html -->
<!-- partial -->


<div class="behind-the-star">
    <div class="container">
        <div class="behind-inner">
            <h2>Behind the stars</h2>
            <div id="accordion">

                <div class="card">
                    <div class="card-header" id="headingOne">

                        <button class="tab-head" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                            aria-controls="collapseOne">
                            Mention and admin
                        </button>

                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            <p> Behind the stars are VisitDenmark , HORESTA , Hotelstars Union and representatives from
                                the
                                industry through the classification board.
                                Hotelstars Union establishes its hotel criteria jointly between participating countries.
                                The
                                criteria are continuously revised to ensure that they reflect the needs of the guests
                                and
                                the industry's development.</p>
                            <p>

                                The administration and inspections are handled by HORESTA. The administration
                                participates
                                in all board meetings without voting rights.</p>

                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="headingTwo">

                        <button class="tab-head collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
                            aria-controls="collapseTwo">
                            Classification
                        </button>

                    </div>

                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                                <p> Behind the stars are VisitDenmark , HORESTA , Hotelstars Union and representatives from
                                        the
                                        industry through the classification board.
                                        Hotelstars Union establishes its hotel criteria jointly between participating countries.
                                        The
                                        criteria are continuously revised to ensure that they reflect the needs of the guests
                                        and
                                        the industry's development.</p>

                        </div>
                    </div>
                </div>


                <div class="card">
                        <div class="card-header" id="headingThree">
    
                            <button class="tab-head collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true"
                                aria-controls="collapseThree">
                                Criteria
                            </button>
    
                        </div>
    
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                    <p> Behind the stars are VisitDenmark , HORESTA , Hotelstars Union and representatives from
                                            the
                                            industry through the classification board.
                                            Hotelstars Union establishes its hotel criteria jointly between participating countries.
                                            The
                                            criteria are continuously revised to ensure that they reflect the needs of the guests
                                            and
                                            the industry's development.</p>
    
                            </div>
                        </div>
                    </div>

                    <div class="card">
                            <div class="card-header" id="headingFour">
        
                                <button class="tab-head collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true"
                                    aria-controls="collapseThree">
                                    The stars
                                </button>
        
                            </div>
        
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                        <p> Behind the stars are VisitDenmark , HORESTA , Hotelstars Union and representatives from
                                                the
                                                industry through the classification board.
                                                Hotelstars Union establishes its hotel criteria jointly between participating countries.
                                                The
                                                criteria are continuously revised to ensure that they reflect the needs of the guests
                                                and
                                                the industry's development.</p>
        
                                </div>
                            </div>
                        </div>

            </div>
        </div>
    </div>
</div>

<!-- partial:partials/common/_footer.html -->
<!-- partial -->