<!-- partial:partials/common/_header.html -->
<!-- partial -->

<main class="landing-page bg-green" style="margin-top:100px;">
    <section class="form-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat, repudiandae!
                    Quisquam, architecto consequatur. Delectus, minima nobis inventore, nihil possimus assumenda
                    deserunt, velit libero reiciendis quibusdam aliquam nisi molestias
                    et in?
                </div>
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam, ipsum cum sit quibusdam dignissimos
                    aliquid accusamus, inventore quisquam quod porro non officiis. Reiciendis cupiditate, numquam
                    tempore qui deserunt sit obcaecati.
                </div>
                <div class="col-md-4">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur corrupti rerum consectetur
                    mollitia aspernatur omnis? Vero, sint perspiciatis alias ipsa error velit voluptate facilis
                    molestias, ipsum commodi numquam ratione necessitatibus!
                </div>
                <div class="col-md-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, odit magni.
                    Obcaecati eos natus ex numquam, ut deserunt ipsum sapiente maiores explicabo autem totam amet iure
                    quod itaque? Accusantium, fugit.</div>
                <div class="col-md-12">
                    <h1>heading1</h1>
                    <h2>heading2</h2>
                    <h3>heading3</h3>
                    <h4>heading4</h4>
                    <h5>heading5</h5>
                    <h6>heading6</h6>
                </div>
                <div class="col-md-12">
                    <a href="#" class="red_link">learn more<img src="images/arrow.png" alt=""></a>
                </div>
                <div class="col-md-12">
                    <ul class="ratings">
                        <li class="star star--yellow"></li>
                        <li class="star star--yellow"></li>
                        <li class="star star--yellow"></li>
                        <li class="star star--yellow"></li>
                        <li class="star"></li>

                    </ul>
                </div>
                <div class="col-md-12">
                    <form action="" class="home-form">
                        <div class="row">
                            <div class="col-md-10 form_wpr">
                                <div class="col-md-6 col-xs-12">
                                    <input type="text" placeholder="Hotelnavn">
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <select name="" id="">
                                        <option value="">All cities</option>
                                        <option value="">All cities</option>
                                        <option value="">All cities</option>
                                        <option value="">All cities</option>
                                    </select>
                                </div>


                                <div class="col-md-6 col-xs-12">
                                    <div class="checkbox-group">
                                        <label class="checkbox__itm">HORESTA WARRANTY
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox__itm">GREEN KEY
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox__itm">HORESTA CONFERENCE CLASSIFICATION
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6 col-xs-12">
                                    <label for="" class="main_label">Number of stars</label>
                                    <div class="checkbox-group">
                                        <label class="checkbox__itm">1
                                            <input type="checkbox" checked="checked">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox__itm">2
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox__itm">3
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox__itm">4
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                        <label class="checkbox__itm">5
                                            <input type="checkbox">
                                            <span class="checkmark"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <a href="#" class="btn-primary"> Search now</a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </section>

</main>
<!-- partial:partials/common/_footer.html -->
<!-- partial -->