<!-- partial:partials/common/_header.html -->
<!-- partial -->

<!-- partial:partials/components/_contact-block.html -->
<!-- partial -->


<div class="contact-wrapper">
    <div class="container">
        <div class="contactrow">
                <div class="contactrow-inner">
            <div class="contact-head">
                <h2> Contact HORESTA</h2>
                <p>Contact HORESTA Classifications, should you have any questions, comments or complaints regarding the
                    star
                    classification.</p>
                <p>

                    Complaints should always be administered directly to the company in question and as soon as possible
                    during your stay. This will allow the hotel to urgently correct any errors or misunderstandings that
                    may
                    have occurred and you as a guest can make the most of your stay. Likewise, any complaints after your
                    stay should initially be directed to the company. Complaints on classification and awarding of stars
                    of
                    specific companies are kept confidential and can be sent to HORESTA Classifications.</p>
                <p>
                    For services that did not meet your expectations; you have the right to appeal to the Appeals
                    Tribunal
                    for Hotels, Restaurants and Tourism. Read more about this here.</p>

            </div>

            <div class="form-head">
                    <h4>Leave a message</h4>
                    <form>
                        <div class="form-grp">
                            <input type="text" name="firstname" placeholder="Dit navn" class="input-control">
                        </div>
                        <div class="form-grp">
                            <input type="text" name="Email" placeholder="E-mail" class="input-control">
                        </div>
                        <div class="form-grp">
                            <textarea name="subject" placeholder="Your message" class="input-control" spellcheck="false"></textarea>
                        </div>
                        <div class="form-grp form-grp-submit">
                            <input type="submit" value="Send now">
                        </div>
                    </form>
                </div>

                <div class="contacts-wrapper">
                    <div class="col-auto contacts-block">
                        <div class="contact-phone">
                            <a href="#" class="ph-contact">(+45) 35 24 80 80</a>
                            <a href="#" class="mail-contact">horesta@horesta.dk</a>
                        </div>
                    </div>
                    <div class="col-auto contacts-adress">
                            <div class="contact-mail">
                                    <p>HORESTA Klassifikation<br>
                                            Vodroffsvej 32<br>
                                            1900 Frederiksberg C.<br>
                                            Danmark</p>
                                </div>
                        </div>
                        <div class="col-auto contacts-social">
                                <div class="contact-mail">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in" aria-hidden="true"></i></a></li>
                                    </ul>
                                    </div>
                            </div>
                </div>
            </div>
            <div class="map">
                    <img src="images/map.png" alt="">
            </div>
        </div>
        
    </div>
    
</div>

<!-- partial:partials/common/_footer.html -->
<!-- partial -->