<!-- partial:partials/common/_header.html -->
<!-- partial -->


<!-- partial:partials/components/_banner.html -->
<!-- partial -->

<div class="container">
    <!-- box-element -->
    <div class="box_element ">
        <h2>What is Hotel Stars?</h2>
        <div class="row">
            <div class="col-md-6">
                <h4>Danish Hotel Stars</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ea commodo consequat.</p>
                <a href="#" class="red_link">search hotels<img src="images/arrow.png" alt=""></a>

            </div>
            <div class="col-md-6">
                <h4>New Hotel Stars</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip commodo consequat. .</p>
                <a href="#" class="red_link">learn more<img src="images/arrow.png" alt=""></a>
            </div>
        </div>
    </div>
    <!-- box-element:end -->
    <!-- two column block -->
    <div class="row content-block">
        <div class="col-md-6" data-aos="zoom-in">
            <div class="img-wpr">
                <img src="images/skibssmedien.png" alt="">
                <span class="icon-copyrright">
                        <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
                        <img src="images/copyright.png" alt="">
                </span>
            </div>
        </div>
        <div class="col-md-6 content-block__itm">
            <h3>Hotel Skibssmedien Skagen</h3>
            <ul class="ratings">
                <li class="star star--yellow"></li>
                <li class="star star--yellow"></li>
                <li class="star star--yellow"></li>
                <li class="star star--yellow"></li>
                <li class="star"></li>

            </ul>
            <h6>Garni</h6>
            <p>Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. </p>
            <a href="#" class="red_link">learn more<img src="images/arrow.png" alt=""></a>
        </div>
    </div>
    <div class="row content-block content-block--reverse">
        <div class="col-md-6 content-block__itm">
            <h3>Hotel Skibssmedien Skagen</h3>
            <ul class="ratings">
                <li class="star star--yellow"></li>
                <li class="star star--yellow"></li>
                <li class="star star--yellow"></li>
                <li class="star star--yellow"></li>
                <li class="star"></li>

            </ul>
            <h6>Garni</h6>
            <p>Ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam
                rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                explicabo. </p>
            <a href="#" class="red_link">learn more<img src="images/arrow.png" alt=""></a>
        </div>
        <div class="col-md-6">
            <div class="img-wpr">
                <img src="images/annekset.png" alt="" data-aos="zoom-in">
                
                <span class="icon-copyrright">
                        <p class="copyrright"  data-aos="fade-up">Jason Kim</p>
                        <img src="images/copyright.png" alt="">
                </span>
            </div>
        </div>

    </div>
    <!-- two column block:ends -->
</div>
<!-- partial:partials/common/_footer.html -->
<!-- partial -->