<!-- partial:partials/common/_header.html -->
<!-- partial -->

<!-- partial:partials/components/_behind-the-star-block.html -->
<!-- partial -->



    <div class="container">
        <!-- box element -->
        <div class="box_element box_element--spacing">
            <h2>HORESTA Guarantee</h2>
            <p>The HORESTA Guarantee is a special guarantee that ensures guests staying in a HORESTA member facility.</p>
            <p>This means that the guest is sure to have any damage claim reimbursed if the Appeals Board for Hotel, Restaurant and Tourism rejects a complaint.</p>
            <p>If in exceptional circumstances the respondent does not comply with the decision of the Board, and is a member of HORESTA, the guests will have their claim covered by the HORESTA guarantee fund.</p>
            <p>The HORESTA label is the guest's assurance should the company make an error.</p>
            <p>You can read more about the Complaint Board on their <a href="#" class="red_link lowercase">website</a>.</p>
            <p>Find businesses covered by the HORESTA Guarantee here  <a href="#" class="red_link lowercase">here</a>.</p>
            <a href="#" class="red_link">learn more<img src="images/arrow.png" alt=""></a>
        </div>
        <!-- box element ends -->
    </div>

<!-- partial:partials/common/_footer.html -->
<!-- partial -->