<!-- partial:partials/common/_header.html -->
<!-- partial -->

<!-- partial:partials/components/_hotel-single-page-block.html -->
<!-- partial -->


<div class="hotel-single-wrap">
    <div class="container">
        <div class="booking-hotel">
            <div class="booking-wrap">
                <h2>Sallingsund Færgekro</h2>
                <ul class="ratings">
                    <li class="star star--yellow"></li>
                    <li class="star star--yellow"></li>
                    <li class="star star--yellow"></li>
                    <li class="star star--yellow"></li>
                    <li class="star "></li>

                </ul>
                <h4>GARNI </h4>
                <div class="booking-outer">
                    <ul>
                        <li><img src="images/horesta-garanti.png" class="img-fluid">HORESTA Garanti</li>
                        <li><img src="images/banquet.png" class="img-fluid">Banquet Conference
                            <ul class="ratings">
                                <li class="star star--yellow"></li>
                                <li class="star star--yellow"></li>
                                <li class="star star--yellow"></li>
                                <li class="star star--yellow"></li>
                                <li class="star "></li>

                            </ul>
                        </li>
                        <li><img src="images/green-key.png" class="img-fluid">Green Key</li>
                    </ul>
                </div>
                <div class="booking-now">
                    <a class="cmn-btn">
                        Booking
                    </a>
                </div>
            </div>
            <div class="page-block">
                <aside>
                    <h4>Contact</h4>
                    <ul>
                        <li><a href="#"><span class="icn_wpr"><img src="images/navigator.png" alt=""></span>Vestre Strandvej 26-28 9990 Skagen</a></li>
                        <li><a href="#" class="link_red"><span class="icn_wpr"><img src="images/globe.png" alt=""></span>www.sallingsund-faergekro.dk</a></li>
                        <li><a href="#" class="link_red"><span class="icn_wpr"><img src="images/envelope-o.png" alt=""></span>info@sallingsund-faergekro.dk</a></li>
                        <li><a href="#" class="link_red"><span class="icn_wpr"><img src="images/phone-o.png" alt=""></span> +45 98446716</a></li>
                    </ul>
                    <h4>Facilities</h4>
                    <ul>
                        <li><a href="#">127 beds</a></li>
                        <li><a href="#"></a>Bicycles for hire</a></li>
                        <li><a href="#"></a>Sports Gym</a></li>
                        <li><a href="#"></a>Free Internet</a></li>
                    </ul>
                    <h4>Social Links</h4>
                    <div class="contact-mail">
                            <ul>
                                <li><a href="#" ><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></i></a></li>
                                <li><a href="#"  ><i class="fab fa-tripadvisor"></i></a></li>
                            </ul>
                            </div>
                </aside>
                <div class="page-block__data">
                    <p><strong>Hotel Skibssmedien er beliggende centralt ved Skagen Havn, nærmeste nabo til den Svenske Sømandskirke. I de bevaringsværdige bygninger fra 1904 fornemmer man straks ved ankomst stedets historiske baggrund. Smedeværkstedet er omdannet til hotellets reception og morgenmads restaurant. </strong></p>
                    <p>Hottellet rummer 18 dobbeltværelser og 2 familieværelser med 2 sammenhængende dobbeltværelser samt 5 suiter med køkkenfaciliteter. Herudover formidler vi udlejningen af 18 rummelige ferie lejligheder til 6 personer med alle bekvemmeligheder. Fri parkering i egen P-kælder.Hotel Skibssmedien er beliggende centralt ved Skagen Havn, nærmeste nabo til den Svenske Sømandskirke. I de bevaringsværdige bygninger fra 1904 fornemmer man straks ved ankomst stedets historiske baggrund. Smedeværkstedet er omdannet til hotellets reception og morgenmads restaurant. Hottellet rummer 18 dobbeltværelser og 2 familieværelser med 2 sammenhængende dobbeltværelser samt 5 suiter med køkkenfaciliteter. Herudover formidler vi udlejningen af 18 rummelige ferie lejligheder til 6 personer med alle bekvemmeligheder. Fri parkering i egen P-kælder.</p>
                </div>
            </div>
            <div class="map">
                    <img src="images/map.png" alt="">
            </div>
        </div>
        <h3>Nearby hotels</h3>
           <!-- partial:partials/components/_masonry.html -->
<!-- partial -->
    </div>
   
</div>


<!-- partial:partials/common/_footer.html -->
<!-- partial -->