<!-- partial:partials/common/_header.html -->
<!-- partial -->


<!-- Banner:start -->
<style>
.source-map{
    position: absolute;
    z-index: 999;
    margin-top: 150px;
}
</style>
<div class="banner">
    <div class="banner-item " style="background:url('images/banner.png') no-repeat fixed">
        <div class="container">
        <ul class="source-map">
            <li><a href="http://projects.phases.dk/hotel-stars/home.html">Home</a></li>
            <li><a href="http://projects.phases.dk/hotel-stars/behind-the-stars.html">Behind the stars</a></li>
            <li><a href="http://projects.phases.dk/hotel-stars/horesta-warranty.html">Horesta warranty</a></li>
            <li><a href="http://projects.phases.dk/hotel-stars/hotel-single-page.html">Hotel single page</a></li>
            <li><a href="http://projects.phases.dk/hotel-stars/search-list-view.html">Search list view</a></li>
            <li><a href="http://projects.phases.dk/hotel-stars/search-map-view.html">Search map view</a></li>
            <li><a href="http://projects.phases.dk/hotel-stars/contact.html">Contact</a></li>
        </ul>
    </div>
    </div>
</div>
<!-- Banner-ends -->


<!-- partial:partials/common/_footer.html -->
<!-- partial -->