<!-- partial:partials/common/_header.html -->
<!-- partial -->

<!-- partial:partials/components/_inner_banner.html -->
<!-- partial -->
<div class="search_results">
   <div class="container">
      <div class="box_element">


         <h2>Behind the stars</h2>

         <div class="icon_set">
            <div class="icon__itm">
               <img src="images/Liste.png" alt="Liste">
               <label for="">Liste</label>
            </div>
            <div class="icon__itm active">
               <img src="images/location.png" alt="Liste">
               <label for="">Kort</label>
            </div>

         </div>
      </div>

   </div>
</div>
</div>
<div class="container">
   <!-- partial:partials/components/_masonry.html -->
<!-- partial -->
<!-- partial:partials/components/_pagination.html -->
<!-- partial -->
</div>
<!-- partial:partials/common/_footer.html -->
<!-- partial -->